.page__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px!important;
  bottom: 0px;
}

.page__background{
  background-color: #FFFFFF;
}

.heading-style{
  margin-left: 0px!important;
}

.heading-sub{
  margin-top: 5px;
}

.matching-item{
  width: 90%;
  margin: auto;
  margin-bottom: 15px!important;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2)!important;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2)!important;
}

.matching-content{
  margin-left: 0px!important;
  margin-bottom: 0px;
}

.matching-icon-red{
  color: red;
}

.matching-desciption{
  font-size: 12px!important;
  color: black!important;
}
